*{
    margin:0;
    box-sizing: border-box;
}

body{
    
}

.box{
    background:pink;
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}