*{
    margin:0;
    box-sizing: 0;
}

html,body{
    height:100%;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

#painting{
    width:100%;
    height:100%;
    background:black;
    display:grid;
    grid-template-columns: 20fr 75fr 10fr;
    grid-template-rows: 4fr 4fr 1fr 1fr;
    grid-template-areas:
        "top-left top-right top-right"
        "middle-left top-right top-right"
        "bottom-left bottom-middle right-middle"
        "bottom-left bottom-middle right-bottom"
    ;
    gap:10px;
    border:10px solid black;
}

#painting div{
    /* width:50px;
    height:50px; */
}

#top-left{
    background:white;
    grid-area: top-left;
}

#middle-left{
    background:white;
    grid-area: middle-left;
}

#bottom-left{
    background:navy;
    grid-area: bottom-left;
}

#top-right{
    background:red;
    grid-area: top-right;
    display:flex;
    align-items: center;
    padding:2em;
    justify-content: center;
}

#bottom-middle{
    background:white;
    grid-area: bottom-middle;
}

#right-middle{
    background:white;
    grid-area: right-middle;
}

#right-bottom{
    background:yellow;
    grid-area: right-bottom;
}

@media screen and (max-width: 600px){
    #painting{
        grid-template-areas:
            "top-right top-right top-right"
            "top-right top-right top-right"
            "bottom-left top-left right-middle"
            "bottom-left top-left right-bottom"
        ;
    }
}