*{
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#painting{
    height:100vh;
    width:100%;
    background:black;
    border:10px solid black;
    display:grid;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 3fr 4fr 1.5fr 1.5fr;
    grid-template-areas:
        "top-left top-right top-right"
        "middle-left top-right top-right"
        "bottom-left bottom-middle right-middle"
        "bottom-left bottom-middle right-bottom"
    ;
    gap:10px;
}

#painting div{

}

#top-left{
    background:white;
    grid-area: top-left;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#middle-left{
    background:white;
    grid-area: middle-left;
}

#bottom-left{
    background:blue;
    grid-area: bottom-left;
}

#top-right{
    background:red;
    grid-area: top-right;
}

#bottom-middle{
    background:white;
    grid-area: bottom-middle;
}

#right-middle{
    background:white;
    grid-area: right-middle;
}

#right-bottom{
    background:yellow;
    grid-area: right-bottom;
}

.text{
    margin:4em 0em;
    width:100%;
    max-width:500px;
}

@media screen and (max-width: 600px){

    #painting{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "top-left"
            "middle-left"
            "bottom-left"
            "right-middle"
            "right-bottom"
            "top-right"
            "bottom-middle"
        ;
    }

}